@import url(https://fonts.googleapis.com/css?family=Varela+Round);
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
 *, *::after, *::before {
   box-sizing: border-box;
}
 html, body {
   height: 100%;
}
 body {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   line-height: 2em;
   margin: 0px;
}
 a {
   color: #fff;
   text-decoration: none;
}
 .clearfix::after, .clearfix::before {
   content: " ";
   display: table;
}
 .clearfix::after {
   clear: both;
}
 .bold {
   color: #fff;
   font-weight: 400;
}
 .resume-wrapper {
   display: flex;
   position: relative;
   text-align: center;
   height: 6000px;

}
 .separator1 {
   position: relative;
   top: 1755px;
   left: 0px;
}
 .separator2 {
   position: relative;
   top: 6000;
   left: 0px;
}
 .divider {
   width: 100%;
   height: 50px;
   clear:both;
}
 .dividerProfile {
   padding-top: 15px;
}

.firma {
  padding-top: 15px;
}
 .spacer1 {
   margin-right: 4px;
   display: inline-block;
}
 .spacer2 {
   margin-right: 0.25em;
   display: inline-block;
}
 .name-title {
   background: #fff;
   width: 100%;
   float: left;
   color: #fff;
}

 .name-title h1 {
   font-size: 28px;
   text-align: center;
   font-family: 'Varela Round', sans-serif;
   color: #000;
   text-transform: uppercase;
   line-height: 1em;
   margin-top: 0px;
   padding: 40px 0px 25px 0px;

}
 /* @media (max-width: 1200px) {
   .name-title h1 {
    padding-top: 10px;
  }
}
 @media (max-width: 450px) {
   .name-title h1 {
     font-size: 1.8em;
     /*padding-top: 20px;*/
  }
} */
 strong {
   font-weight: bold;
}
 .profile {
   display:flex;
   background: #3d3e42;
   width: 350px;
   min-width: 350px;
   height: 6000x;
   float: left;
   color: #9099a0;
}
 @media (max-width: 850px) {
   .profile {
     width: 100%;
  }
}
 .profile .name-wrapper {
   float: left;
   width: 60%;
}
 .profile h1 {
   font-size: 2.5em;
   text-align: left;
   font-family: 'Varela Round', sans-serif;
   color: #fff;
   text-transform: uppercase;
   line-height: 3em;
   padding-top: 40px;
}
 @media (max-width: 1200px) {
   .profile h1 {
     padding-top: 20px;
  }
}
 @media (max-width: 450px) {
   .profile h1 {
     font-size: 1.8em;
     padding-top: 20px;
  }
}
 .profile ul {
   list-style-type: none;
}
 .profile li {
   margin-bottom: 10px;
}
 .profile .picture-resume-wrapper {
   width: 100%;
   display: block;
   float: left;
   padding-left: 0px;
}
 @media (max-width: 1200px) {
   .profile .picture-resume-wrapper {
     width: 100%;
  }
}
 .profile .picture-resume {
   width: 310px;
   height: 310px;
   background-size: cover;
   border-radius: 50%;
   margin-right: 0px;
   display: table;
   position: relative;
   vertical-align: middle;
}
 .profile .picture-resume span {
   display: table-cell;
   vertical-align: middle;
   position: relative;
   margin: 0 auto;
   z-index: 10;
   text-align: center;
}
 .profile .picture-resume img {
   border-radius: 50%;
   width: 270px;
}
 .profile .contact-info {
   margin-top: 30px;
   font-weight: 300;
}
 .profile .list-titles {
   float: left;
   text-align: left;
   font-weight: 500;
   width: 40px;
   padding: 0px;
   color: #fff;
}
 .profile .list-content {
   float: left;
   /* width: 100%; */
   padding: 0px;
   text-align: left;
   font-weight: 200;
   font-size: 12px;
   color: #fff;
}

.contact-presentation {
  color: #000;
  text-align: left;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding: 0px 0px 15px 0px
}

.profile .contact-presentation {
   text-align: left;
   font-weight: 600;
   margin-top: 60px;
   margin-bottom: 80px;
}
 @media (max-width: 1200px) {
   .profile .contact-presentation {
     margin-top: 70px;
     margin-bottom: 70px;
  }
}
 @media (max-width: 850px) {
   .profile .contact-presentation {
     margin-top: 50px;
     margin-bottom: 50px;
  }
}
 .profile svg {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
 .profile .st0, .profile .st1 {
   fill: #fff;
}
 .experience {
   background: #fff;
   width: 900px;
   float: left;
   position: relative;
   color: #000;
   font-weight: 300;
   min-height: 100%;
   min-height: 100vh;
}
 @media (max-width: 850px) {
   .experience {
     width: 100%;
  }
}
 .experience h3.experience-title {
   color: #000;
   text-align: left;
   text-transform: uppercase;
   font-size: 24px;
   margin-bottom: 40px;
   font-weight: 600;
}

.experience-title {
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}

.sub-title {
  color: #000;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}

 .experience .company-wrapper {
   /* width: 190px; */
   float: left;
   text-align: left;
   padding-right: 5px;
   margin-bottom: 7px;
   font-weight: 600;
   font-size: 20px;
}

.company-description {
  font-size: 18px;
  width:100%;
  padding-bottom: 20px;
}

 @media (max-width: 450px) {
   .experience .company-wrapper {
     width: 100%;
     margin-bottom: 20px;
  }
}
 .experience .job-wrapper {
   width: 90%;
   float: left;
   text-align: left;
   padding-right: 1px;
   margin-bottom: 25px;
}
 @media (max-width: 450px) {
   .experience .job-wrapper {
     width: 100%;
     margin-bottom: 40px;
  }
}
 .experience .extra-space {
   margin-bottom: 40px;
}
 .experience .extra-space {
   margin-bottom: 60px;
}
 .experience .dateformat {
   font-weight: 300;
   font-size: 15px;
   font-style: italic;
}
 .section-padding {
   padding: 60px 20px 50px 20px;
}
 @media (max-width: 850px) {
   .section-padding {
     padding: 60px 20px 50px 20px;
  }
}
 @media (max-width: 450px) {
   .section-padding {
     padding: 40px 60px 40px 40px;
  }
}
 .section-padding-content {
   padding: 30px 20px 40px 40px;
}
 @media (max-width: 850px) {
   .section-padding-content {
     padding: 30px 20px 40px 40px;
  }
}
 @media (max-width: 450px) {
   .section-padding-content {
     padding: 30px 20px 40px 40px;
  }
}
 .section-wrapper {
   width: 90%;
   float: left;
   text-align: left;
   color: #fff;
   font-weight: 200;
   font-size: 13px;
   margin-bottom: 20px;
}
 @media (max-width: 450px) {
   .section-wrapper {
     width: 100%;
  }
}
 .section-wrapper:nth-child(3) {
   padding-right: 8%;
}
 .section-wrapper h3.section-title {
   color: #fff;
   text-align: left;
   text-transform: uppercase;
   font-size: 1.2em;
   margin-bottom: 20px;
   font-weight: 400;
}
 .section-wrapper .skill-percentage {
   margin-bottom: 10px;
   position: relative;
}
 .section-wrapper .skill-percentage::after {
   content: "";
   width: 100%;
   height: 6px;
   background: #9099a0;
   display: block;
   margin-top: 3px;
}
 .section-wrapper .skill-percentage::before {
   content: "";
   height: 6px;
   background: #fff;
   position: absolute;
   margin-top: 3px;
   bottom: 0;
}
 .section-wrapper #SK1::before{
   width: 60%;
   animation: skill_1 0.6s ease;
}
 .section-wrapper #SK2::before {
   width: 60%;
   animation: skill_1 0.6s ease;
}
.section-wrapper #SK3::before {
  width: 80%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK4::before {
  width: 60%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK5::before {
  width: 60%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK6::before {
  width: 90%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK7::before {
  width: 70%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK8::before {
  width: 80%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK9::before {
  width: 80%;
  animation: skill_1 0.6s ease;
}


.section-wrapper #SK10::before {
  width: 70%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK11::before {
  width: 70%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK12::before {
  width: 80%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK13::before {
  width: 90%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK14::before {
  width: 50%;
  animation: skill_1 0.6s ease;
}

.section-wrapper #SK15::before {
  width: 50%;
  animation: skill_1 0.6s ease;
}


.section-wrapper #SK101::before {
  width: 70%;
  animation: skill_1 0.6s ease;
}


.section-wrapper #SK102::before {
  width: 90%;
  animation: skill_1 0.6s ease;
}


.section-wrapper #SK103::before {
  width: 100%;
  animation: skill_1 0.6s ease;
}


 @keyframes skill_1 {
   from {
     width: 0%;
  }
   to {
     width: 95%;
  }
}

 

/* .firma {
  width: 180px;
  height: 80px;
  clear: both;
} */